body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: #7805e3;
  padding: 15px;
}

.logo{
  color: rgb(252, 6, 96);
  font-weight: bold;
  font-size: large;
  font-family: cursive;
}
nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #00d4ff;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background: #a0de06;
  color: white;
}

a {
  color: #007bff;
}

button {
  padding: 8px 15px;
  background: #28a745;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.overdue {
  color: red;
  font-weight: bold;
}
